<div class="product-card">
    @@if(request !== ""){
    <img src="img/req.png" alt="" class="product-card__request">
    }
    <div class="product-card__badges">
        <div class="product-card__badge">
            <img src="img/new.png" alt="">
        </div>
        <div class="product-card__badge">
            <img src="img/sale.png" alt="">
        </div>
        <div class="product-card__badge">
            <img src="img/eco.png" alt="">
        </div>
    </div>
    <a href="" class="product-card__img">
        <img src="img/product.webp" alt="">
    </a>
    <div class="product-card__title">
        <a href="" class="text21 text14-mob">
            Шкаф-витрина "Луи Филипп ОВ <br>
            28.01"
        </a>
    </div>
    <div class="product-card__prices">
        <div class="product-card__price">
            51 840 Р
        </div>
        <div class="product-card__price2">
            74 490 Р
        </div>
    </div>
</div>
