<div class="offer-slider slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="" class="offer-slider__img">
                    <img src="img/@@img.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="" class="offer-slider__img">
                    <img src="img/@@img2.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="" class="offer-slider__img">
                    <img src="img/@@img2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
