$font1:'Arial',sans-serif;
$font2:'PF Agora Sans Pro',sans-serif;
$font3:'Segoe UI',sans-serif;
$black: #000;
$primary: #f48729;
$secondary: blue;
$white: #fff;
$spring-wood: #f5f2e9;
$peat: #716a54;
$supernova: #faca0a;
$alto: #d6d6d6;
$dune: #282621;
$tango: #f27623;
$coral-red: #fe4747;
$silver: #c3c3c3;
$cararra: #eeece7;
$carrot-orange: #f48729;
$jaffa: #f6983d;
$ochre: #d57523;
$valencia: #d7403a;
$mercury: #e7e7e7;
$alto: #dadada;
$gray-nickel: #bfbeb8;
$fuscous-gray: #575652;
$periwinkle-gray-80: rgba(202, 212, 231, 0.8);
$chambray: #3b5998;
$regent-st-blue-80: rgba(164, 204, 229, 0.8);
$blumine: #186487;
$venice-blue-80: rgba(11, 84, 153, 0.8);
$nero-95: rgba(255, 255, 255, 0.95);
$steel-blue-80: rgba(78, 131, 193, 0.8);
$golden-grass-80: rgba(217, 154, 38, 0.8);
$bison-hide: #c3bca9;
$tia-maria: #ce530e;
$saffron: #f8b43a;
$hot-cinnamon: #df6118;
$black: #f00;
$fuscous-gray: #5c584b;
$colonial-white: #fef1bc;
$spice: #64482a;
$ash: #ccc8bc;
$aths-special: #efe9d9;
$ebony-clay: #222d38;
$gull-gray: #9fabb7;
$mirage: #191d2e;
$french-gray: #bfc0c5;
$seashell: #f1f0f0;
$science-blue: #0044d3;
$oslo-gray: #9d9e9f;
$geyser: #d8dee3;
$pale-sky: #697582;
$gray-chateau: #a3aab5;
$jaffa: #ea8b34;
$malachite: #18c139;
$mine-shaft: #222;
$boulder: #767676;
$sapling: #ded3a5;
$brown-bramble: #5c2707;
$bright-turquoise: #fff1b9;
$pampas: #f5f5ef;
$moon-mist: #e0dcd0;
$pampas: #fcfcfa;
$alabaster: #f8f8f8;
$alto: #dedede;
$tango-linear-nero-nero: #f16d21;
$green-haze: #ff9a3f;
$alto: #cecece;
$white: #fefefe;
$gray-nickel: #c3c3c2;
$japanese-laurel: #1e90ff;
$yellow: #f4f9ff;
$green: #00bfff;
$red: #fa0a0a;
$tahiti-gold: #ed7707;
$varden: #fef7dc;
$cararra: #e6e5e0;
$pampas: #f6f5f0;
$silver-chalice-linear-black-nero: #aaa;
$dove-gray: #656565;
$mercury: #e3e3e3;
$mercury: #e4e4e4;
$spring-wood: #f8f6f0;
$wild-sand: #f6f6f6;
$bone: #e3ddc3;


$vh: calc(100 * var(--vh));
